OPENAI_API_KEY=

LANGCHAIN_API_KEY=
LANGSMITH_TRACING=true
LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT="<your-project>"

OPENAI_API_KEY="<your-openai-api-key>"
SERPAPI_API_KEY=